---
- name: Get a list all held packages
  ansible.builtin.command: "/usr/bin/apt-mark showhold"
  changed_when: false
  register: held_package_list
  until: held_package_list is succeeded

- name: Add packages to the list of held packages
  ansible.builtin.command: "/usr/bin/apt-mark hold {{ item.name }}"
  with_items: "{{ apt_mark_hold }}"
  when: item['name'] not in held_package_list.stdout_lines and (item['state'] | default(post_package_state)) == "present"

- name: Remove packages from the list of held packages
  ansible.builtin.command: "/usr/bin/apt-mark unhold {{ item.name }}"
  with_items: "{{ apt_mark_hold }}"
  when: item['name'] in held_package_list.stdout_lines and (item['state'] | default(post_package_state)) == "absent"
