---
name: Molecule Test
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        molecule_distro: ['rockylinux10', 'ubuntu2204']
    env:
      ANSIBLE_CALLBACK_WHITELIST: profile_tasks

    steps:
      - name: Check out the repository
        uses: actions/checkout@v6
      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible ansible-lint flake8 molecule molecule-plugins[docker] docker yamllint
          ansible --version
          ansible-lint --version
          molecule --version
      - name: Test with molecule
        run: |
          molecule test --all
        env:
          MOLECULE_DISTRO: ${{ matrix.molecule_distro }}
